<h1>AKC Rally Shows</h1>
<p>	
	Note that the first few pages of shows (most recent ones) doesn't have any results yet because since they have not yet been processed by the AKC. We will update the results when they become available.
</p>
<%= render 'search_box' %>
<%= will_paginate %>
<%= render 'shows_list'%>
<%= will_paginate %>