<h1>Dogs</h1>
<p>
The dogs in this list have qualified in at least one obedience show between year 2000 and now. Click on dog's AKC id to see the list of shows and scores. 
</p>

<%= render 'search_box' %>
<p>
<%= will_paginate %>
<%= render 'dog_list' %>
<%= will_paginate %>
