<h1>AKC Obedience judges</h1>

This is the list of AKC obedience judges, as provided by <a href="http://www.infodog.com/">InfoDog</a>. Click on judge's name to see the list of shows and classes that they have judged.
<p>
<%= render 'search_box' %>
<%= will_paginate %>
<%= render 'judges_list' %>
<%= will_paginate %>
</p>