<h1>Canine Performance Scores Database</h1>
<p>
  Canine Performance Scores Database is built from the dog show results starting with the year 2001. The results were downloaded from the AKC website, where they are publicly available, but difficult to search and organize. This site aims to solve that problem.
</p>