<h1>Canine Performance Scores Database</h1>
<p>
  This is the homepage for the <i>Canine Performance Scores Database</i>. The data here is collected from the public information available on <a href="http://www.akc.org">AKC website</a>
</p>