<h2>About the site</h2>

  This database is built from the dog show results starting with the year 2001. The results were obtained from the AKC website, where they are publicly available, but difficult to search and organize. This site aims to solve that problem.
<p>
<%= render 'donate' %>

<h2>About the developer</h2>
<%= image_tag("natasha.jpg", :alt => "Natasha", :class => "round") %></br>
Hi, my name is Natasha and I write code. And train dogs. And ride horses. Oh, and raise a kid somewhere in there. I have an undergraduate degree in Computer Science from Brown University, and a Ph.D. in Computer Graphics from Stanford. I worked at Oracle in 1999 and at Nokia Research 2006 through 2010. If you want to know more, here are my pages at <a href="http://research.nokia.com/people/natasha_gelfand">Nokia</a> and <a href="http://graphics.stanford.edu/~ngelfand/">Stanford</a>. The dogs in the picture are <a href = "http://dogshowscores.herokuapp.com/dogs/SR20995604">Tony</a> and <a href = "http://dogshowscores.herokuapp.com/dogs/SR50629302">Polly</a>.

