<h1>Known Issues</h1>

<h3>Where's my dog's score?</h3>
<p>
The information on this site was obtained by crawling the AKC show results database. We tried to be complete and thorough, but we may have missed some things. If a qualifying score for your dog is missing, <a href="mailto:ngelfand@gmail.com">please let us know</a>. If you have some idea of what show it was, or an approximate date, that information will make it easier for us to find your data. Please keep in mind that the results going back to about 1999-2000 start to get somewhat unreliable due to AKC's record keeping.
</p>

<h3>My dog has a CDX, but you only list her as having a CD</h3>
<p>
The dog's title on their info page is not necessarily the most current title. It's the most current title that appeared in a show result listing. So for example, if your dog earned a CDX, but has never shown with that title (in Utility or Open), the title will not reflect on their show page because all the results only showed him as having a CD. AKC tracks titles in their 'Manage Dogs' page, but we do not have access to that data at this time. We periodically update the titles as we get more show results.
</p>

<h3>OMG you have an OTCH dog in Novice A???</h3>
<p>
This is the reverse of the above problem. The dog has an OTCH now. When they were showing in Novice A, clearly they didn't. We are working on having accurate titles on show pages as well.
</p>

<h3>Other issues</h3>
We got bugs. Lots of them. Here's the ones we know about.	
<ul>
	<li>The city field is missing from the dog show information.</li>
			
	<li>The judges are not sorted in any meaningful order (like alphabetically). Sorry, judges.</li>
	
</ul>
<p>
If you get an error that is not covered by the above list, please send a bug report, including the URL of the page you were trying to access (or a description of what you were trying to do, if that's not available) to <a href="mailto:ngelfand@gmail.com">the developer.</a> 
</p>

Didn't find an answer? Need more help? <a href="mailto:ngelfand@gmail.com">Email us.</a> 