<h1>Known Issues</h1>

<h3>Where's my dog's score?</h3>
<p>
The information on this site was obtained by crawling the AKC show results database. We tried to be complete and thorough, but we may have missed some things. If a qualifying score for your dog is missing, <a href="mailto:ngelfand@gmail.com">please let us know</a>. If you have some idea of what show it was, or an approximate date, that information will make it easier for us to find your data. Please keep in mind that the results going back to about 1999-2000 start to get somewhat unreliable due to AKC's record keeping.
</p>

<h3>My dog's score/placement is wrong</h3>
<p>
Oops! Sorry, our code most likely has a bug. Please send us the AKC number of your dog, and the name of the show where the score is wrong, and we'll try to fix our code. 
</p>

<h3>My dog has a CDX, but you only list her as having a CD</h3>
<p>
The dog's title on their info page is not necessarily the most current title. We periodically re-download the dogs' titles from the AKC website, but this operation takes quite a while, so we don't do it very often. Hang on, we'll update your dog's information soon, in the meantime, congrats on the new title!
</p>

<h3>Other issues</h3>
We got bugs. Lots of them. Here's the ones we know about.	
<ul>			
	<li>The judges are not sorted in any meaningful order (like alphabetically). Sorry, judges.</li>
</ul>
<p>
If you get an error that is not covered by the above list, please send a bug report, including the URL of the page you were trying to access (or a description of what you were trying to do, if that's not available) to <a href="mailto:ngelfand@gmail.com">the developer.</a> 
</p>

Didn't find an answer? Need more help? <a href="mailto:ngelfand@gmail.com">Email us.</a> 